<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773381181593-vfja4t2vibale3788e8ko55nf3jvjaf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773381181593-vfja4t2vibale3788e8ko55nf3jvjaf8</string>
	<key>API_KEY</key>
	<string>AIzaSyARxENEqNN9AAvRwI0aosPUFDwK9yE1s-c</string>
	<key>GCM_SENDER_ID</key>
	<string>773381181593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.johnbj.winspool</string>
	<key>PROJECT_ID</key>
	<string>nba-wins-pool-72d53</string>
	<key>STORAGE_BUCKET</key>
	<string>nba-wins-pool-72d53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773381181593:ios:2386160cd7073c332fa808</string>
</dict>
</plist>